  
  <!doctype html>

  <html lang="en-US">
  
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <title>New Account Email Template</title>
        <meta name="description" content="New Account Email Template.">
        <style type="text/css">
            a:hover {text-decoration: underline !important;}
        </style>
    </head>
  
    <body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
      <p>hello <%=firstName%></p>
      <h2>Welcome to the Hotel.</h2>
      <p>You have added a great value to our services.</p>
      <p>With warm regards</p>
      <p><b>Hotel Inn</b></p>
    </body>

  </html>